<h1> New Question</h1>
<!-- {{ newQuestion |  json }} -->
<form (submit)='onSubmit()'>
	<p>Question</p>
	<input 
	type='textarea'
	name='question'
	[(ngModel)]='newQuestion.question'>
	<p>Correct Answer</p>
	<input 
	type='text'
	name='correct'
	[(ngModel)]='newQuestion.correct'>
	<p> Fake Answer 1</p>
	<input 
	type='text'
	name='fake1'
	[(ngModel)]='newQuestion.fake1'>
	<p> Fake Answer 2</p>
	<input
	type='text'
	name='fake2'
	[(ngModel)]='newQuestion.fake2'>
	<input type='submit' value="Add Question">
</form>